<!DOCTYPE html>

<html>


<head>
        <title>Propuesta</title>
        
    <link rel="icon" href="/img/tab_icon.png">  
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        <div class="main_content">
                 {{>header}}

    <p>Propuesta</p>
    <! <img class="portrait" src="/img/wallpaper.jpg">

        </div>
    
    {{>footer}}
</body>

</html>

